.sidebar {
  width: 50px;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow: auto;
  transition: width 0.3s;
  background-color: black; // adicionado para o fundo preto
  &::-webkit-scrollbar {
    display: none;}

  &:hover {
    width: 200px;
  }

  .navbar-brand,
  .nav-link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.3s;
    color: red; // adicionado para os ícones vermelhos

    .nav-text {
      margin-left: 10px;
      display: none;
      color: white; // adicionado para o texto branco ao passar o mouse
    }
  }

  &:hover .navbar-brand .nav-text,
  &:hover .nav-link .nav-text {
    display: inline;
  }
}

.main-content {
  margin-left: 5px;
  transition: margin-left 0.3s;
}

.sidebar:hover ~ .main-content {
  margin-left: 200px;
}
