<div class="content">
  <!-- Sidebar Start -->
  <div class="sidebar pe-4 pb-3">
      <nav class="navbar">
          <a href="#" class="navbar-brand mx-4 mb-3">
              <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>Gerenciador 4CSS</h3>
          </a>
          <div class="navbar-nav w-100">
              <a routerLink="/dashboard" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
              <a routerLink="/produtos" class="nav-item nav-link"><i class="fa fa-laptop me-2"></i>Produtos</a>
              <a routerLink="/graficos" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Gráficos</a>
          </div>
      </nav>
  </div>
  <!-- Sidebar End -->

  <!-- Main Content Start -->
  <div class="main-content">
      <router-outlet></router-outlet>
  </div>
  <!-- Main Content End -->
</div>
